# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages data scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. MATLAB

# Some of the commonly Data Science Libraries are:

1. Numpy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. Tensorflow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook    |
| Spyder              |
| RStudio             |

### Below are a few examples of evaluating arithmetic expressions in Python.

Arithmetic expressions involve mathematical operations such as addition, subtraction, multiplication, and division. In Python, you can evaluate arithmetic expressions using the standard mathematical operators: `+`, `-`, `*`, and `/`. For example, you can evaluate the expression `2 + 3` by simply typing `2 + 3` into a code cell in Jupyter Notebook or another Python development environment:

```python
2 + 3

In [1]:
(3*4)+5

17

In [2]:
# Convert 200 minutes to hours
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- Create a table of Data Science tools
- Evaluate arithmetic expressions in Python
- Convert minutes to hours in Python

## Author

This notebook was created by Dheeraj Bhandaru.